$theme-colors: (
  "primary": #0864b1,
);

@import "node_modules/bootstrap/scss/bootstrap";

header {
  background-image: url("./public/icons/HeroBackgroundShape.svg"),
    url("./public/images/HeroBanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.h2-container {
  display: flex;
  justify-content: center;
}

main h2 {
  position: relative;
  display: inline-block;
}

main h2::after {
  content: "";
  position: absolute;
  left: calc(50% - 35%);
  bottom: -7px;
  width: 70%;
  height: 8px;
  background-color: #676767;
}

.latest-news {
  position: relative;
  .swiper {
    width: 100%;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-text {
    font-size: 1.25rem;
  }
}

.mySwiper-1 {
  position: relative;
  .swiper-pagination-bullet {
    width: 3.75rem;
    height: 0.625rem;
    border-radius: 0;
  }
}

.latest-news-container {
  position: relative;
}

.latest-news-container::after {
  content: "";
  width: 100vw;
  height: 75%;
  background-color: #f5f5f5;
  position: absolute;
  bottom: 0;
  left: 0;
}

.testimonial {
  .swiper {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.max-width {
  max-width: 1713px;
}

.about-us-p {
  font-size: 2.188rem;
  line-height: 5rem;

  @media screen and (max-width: 1200px) {
    line-height: 3rem;
  }
}

.swiper-slide {
  p {
    font-size: 1.875rem;
  }
}

.quote {
  position: relative;
}

.quote::after {
  content: url("./public/icons/quote-right-Icon.svg");
  position: absolute;
  right: -17px;
  top: -6px;
}

.quote::before {
  content: url("./public/icons/quote-right-Icon.svg");
  position: absolute;
  transform: rotate(180deg);
  left: -4px;
  bottom: -2px;
}

.company-logo-font-size {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links-font-size {
  font-size: 1.2rem;
}

.welcome-font-size {
  font-size: 3.25rem;
  font-weight: bold;
}

.welcome-p-font-size {
  font-size: 1.8rem;
}

.section-titles-font-size {
  font-size: 2.7rem;
  font-weight: bold;
}

.footer-company-logo-font-size {
  font-size: 2.188rem;
}

.address-font-size {
  font-size: 1.125rem;
}

.stay-font-size {
  font-size: 1.875rem;
  font-weight: bold;
}

.footer-details-font-size {
  font-size: 1.563;
}
